html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FDFBF9;
  }

div {
    margin: 0;
    padding: 0;
  }

.max-svg {
  margin: 0;
  padding: 0;
  width: 100%;
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    grid-gap: 50px;
    width: 80%;
    margin: 50px auto;
  }

.grid-item {
    position: relative;
  }

.grid-item:hover object {
  animation-name: hover-effect;
  animation-duration: 0.5s;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

@keyframes hover-effect {
  100% {
    position: relative;
    scale: 1.1;
    z-index: 999;
  }
  }

nav {
    background-color: #ECEBE4;
    overflow: hidden;
  }

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
  }
  
nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
nav ul li a {
    width: 150px;
    display: block;
    color: #252323;
    text-align: center;
    padding: 14px 16px;
    transition: 0.3s;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
  }
  
nav ul li a:hover {
    background-color: #ECEBE4;
    color: #988F2A;
  }
  
nav ul li.active a {
    background-color: #ECEBE4;
    color: #988F2A;
  }
  

footer {
    background-color: #FDFBF9;
    padding: 100px 100px;
    text-align: center;
    font-size: 20px;
  }

.footer-title {
    background-color: #FDFBF9;
    text-align: center;
    font-size: 32px;
  }
  
  
footer p {
    color: #252323;
    text-decoration: none;
    font-family: Arial;
  }

footer a {
  color: #252323;
  text-decoration: none;
  }
  