
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: #FDFBF9;
  }

div {
    margin: 0;
    padding: 0;
  }

.max-svg {
  position: relative;
  width: 100%;
  }

#index-text{
  position: relative;
  width: 30%;
  margin-right: 15%;
  margin-bottom: 12%;
}
#index-img{
  position: relative;
  width: 20%;
  margin-top: 6%;
  margin-bottom: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 10px;
    width: 90%;
    margin: 50px auto;
  }

.grid-item {
    position: relative;
  }

.grid-item-special {
  position: relative;
  z-index: 1;
  }

.grid-item:hover object {
    animation: hover-effect 0.3s forwards;
  }

.grid-item-special:hover {
  animation: hover-effect 0.3s forwards;
}

.grid-title{
  text-align: center;
	font-family: 'Merriweather';
  font-size: 18px;
  margin: auto;
  padding: 10px 0px;
  background-color: #ffffff;
  max-width: 90%;
}

@keyframes hover-effect {
  100% {
    position: relative;
    scale: 1.02;
    z-index: 999;
  }
  }

.grid-item-special:hover::before {
    content: "Click to learn more";
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-family: 'Comfortaa';
    text-decoration: underline;
    color: skyblue;
    opacity: 0.8;
    text-align: center;
    z-index: 999;
  }

nav {
    background-color: #ECEBE4;
    overflow: hidden;

  }

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-start;
  }
  
nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
nav ul li a {
    width: 180px;
    display: block;
    color: #252323;
    text-align: center;
    padding: 5px 5px;
    transition: 0.3s;
    text-decoration: none;
    font-family: 'Merriweather', sans-serif;
    font-size: 16px;
  }
  
nav ul li a:hover {
    background-color: #ECEBE4;
    color: #988F2A;
  }
  
nav ul li.active a {
    background-color: #ECEBE4;
    color: #988F2A;
  }
  

footer {
    background-color: #FDFBF9;
    padding: 100px 100px;
    text-align: center;
    font-size: 20px;
  }

.footer-title {
    background-color: #FDFBF9;
    text-align: center;
    font-size: 22px;
  }
  
  
footer p {
    color: #252323;
    text-decoration: none;
    font-family: 'Merriweather', sans-serif;
  }

footer a {
  color: #252323;
  text-decoration: none;
  margin-right: 10px;
  margin-left: 10px;
  }
  