html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: 
  }
  
.max-svg {
    width: 100%;
    height: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-gap: 10px;
    width: 80%;
}

.grid-item {
    position: relative;
}

.grid-item:hover object {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
    z-index: 999;
}

nav {
    background-color: #ECEBE4;
    overflow: hidden;
  }

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
nav ul li {
    margin: 0;
    padding: 0;
    display: inline-block;
  }
  
nav ul li a {
    display: block;
    color: #1C1C1C;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  /* Change the color of links on hover */
nav ul li a:hover {
    background-color: #ECEBE4;
    color: #988F2A;
  }
  
  /* Change the color of the active link */
nav ul li.active a {
    background-color: #ECEBE4;
    color: #988F2A;
  }
  